In [128]:
#Name-Vipul Anand
#Batch-DS2312
#Assignment- Regular Expressions(1)

In [135]:
#question 1
#Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample_text= 'Python Exercises, PHP exercises.'
new_text= re.sub('[ ,.]',':',Sample_text)
print(new_text)

Python:Exercises::PHP:exercises:

In [16]:
#question2
Dictionary= {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
data= pd.DataFrame(Dictionary)
data['SUMMARY']=data['SUMMARY'].str.replace(r'[,!;:.]|X+|\d+','',regex=True)
print(data)

         SUMMARY
0    hello world
1           test
2  four five six

In [19]:
#question3
string='indian team lost the 2023 odi cricket world cup which was held in india'
pattern= re.compile('\w{4,}')
string_list= pattern.findall(string)
print('the words which are 4 or more characters long are ', string_list)

the words which are 4 or more characters long are  ['indian', 'team', 'lost', '2023', 'cricket', 'world', 'which', 'held', 'india']

In [21]:
#question4
string='indian team lost the 2023 odi cricket world cup which was held in india'
pattern= re.compile('\w{3,5}')
string_list= pattern.findall(string)
print('the words which have 3,4 or 5 characters are ', string_list)

the words which have 3,4 or 5 characters are  ['india', 'team', 'lost', 'the', '2023', 'odi', 'crick', 'world', 'cup', 'which', 'was', 'held', 'india']

In [65]:
#question4
#Question 4- Create a function in python to find all three, four, and five character words in a string.
pattern= re.compile(r'\b\w{3,5}\b')
def fun(string):
    word_list= pattern.findall(string)
    print(word_list)
string='india lost the 2023 odi cricket world cup'
fun(string)

['india', 'lost', 'the', '2023', 'odi', 'world', 'cup']

In [15]:
#question5
sample_text= ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
new_sample_text=[]
pattern=re.compile('[() ]')
for i in sample_text:
    a=pattern.sub('',i)
    new_sample_text.append(a)
print(new_sample_text)

['example.com', 'hr@fliprobo.com', 'github.com', 'HelloDataScienceWorld', 'DataScientist']

In [16]:
#question6
sample_text= ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
new_sample_text=[]
pattern=re.compile('[() ]')
for i in sample_text:
    a=pattern.sub('',i)
    new_sample_text.append(a)
print(new_sample_text)

['example.com', 'hr@fliprobo.com', 'github.com', 'HelloDataScienceWorld', 'DataScientist']

In [85]:
#question7
Sample_text= 'ImportanceOfRegularExpressionsInPython'
new_sample_text= re.findall('[A-Z][a-z]+', Sample_text)
print(new_sample_text)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [148]:
#question8
Sample_Text= 'RegularExpression1IsAn2ImportantTopic3InPython'
word_list= re.findall(r'[a-zA-Z]+|\d[a-zA-Z]+', Sample_Text)
print(word_list)
new_sample_text= ' '.join(word_list)
print(new_sample_text)

['RegularExpression', '1IsAn', '2ImportantTopic', '3InPython']
RegularExpression 1IsAn 2ImportantTopic 3InPython

In [155]:
#question9
#insert spaces between words starting with capital letters and numbers
Sample_Text= 'RegularExpression1IsAn2ImportantTopic3InPython'
word_list=re.findall(r'[A-Z][a-z]+|\d',Sample_Text)
print(word_list)
new_sample_text= ' '.join(word_list)
print(new_sample_text)

['Regular', 'Expression', '1', 'Is', 'An', '2', 'Important', 'Topic', '3', 'In', 'Python']
Regular Expression 1 Is An 2 Important Topic 3 In Python

In [101]:
#question10
data=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
data
a=data['Country'].str.extract(r'(\w{1,6})')
data['first_five_letters']=a
data

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [115]:
#question11
patten=re.compile(r'^\w\w+$')
string='abd1234432enen'
a= patten.findall(string)
if len(a)!=0:
    print('the string has only  any word characters')
else:
    print('it does not has only any word characters')

the string has only  any word characters

In [123]:
#question12
patten= re.compile('123')
string= '123abc'
a= patten.findall(string)
if len(a)!=0:
    print('it starts with 123')
else:
    print('it does not starts with 123')

it starts with 123

In [127]:
#question13
ip_address='010.010.255.255'
new_ip_address= re.sub('^0','', ip_address)
print(new_ip_address)

10.010.255.255

In [137]:
#question14
Sample_text='On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country'
a=re.findall(r'[A-Z][a-z]+ \d+\w+ \d+\b', Sample_text)
print(a)

['August 15th 1947']

In [144]:
#question15
Sample_text= 'The quick brown fox jumps over the lazy dog.'
Searched_words = ['fox', 'dog','horse']
a=re.findall('fox|dog|horse', Sample_text)
print(a)

['fox', 'dog']

In [149]:
#question16
Sample_text= 'The quick brown fox jumps over the lazy dog.'
Searched_words='fox'
a= re.search('fox',Sample_text)
print(a)

<re.Match object; span=(16, 19), match='fox'>

In [151]:
#question17
Sample_text = 'Python exercises, PHP exercises, C# exercises'
Pattern = 'exercises'
a= re.findall('exercises', Sample_text)
print(a)

['exercises', 'exercises', 'exercises']

In [153]:
#question18
Sample_text = 'Python exercises, PHP exercises, C# exercises'
Pattern = 'exercises'
a= re.finditer('exercises', Sample_text)
print(a)

<callable_iterator object at 0x00000174CBAC9A20>

In [36]:
#question19
date= '2024-01-06'
date_list= re.split('-',date)
date_list.reverse()
date_list
new_date='-'.join(date_list)
print(new_date)

06-01-2024

In [43]:
#question20
Sample_Text= '01.12 0132.123 2.31875 145.8 3.01 27.25 0.25'
decimals_with_precision_of_1_and_2=  re.findall(r'\b\d+\.\d{1,2}\b',Sample_Text)
print(decimals_with_precision_of_1_and_2)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [48]:
#question21
string='abc123india1up456'
digits= re.finditer('\d+', string)
for i in digits:
    print(i)

<regex.Match object; span=(3, 6), match='123'>
<regex.Match object; span=(11, 12), match='1'>
<regex.Match object; span=(14, 17), match='456'>

In [51]:
#question22
Sample_Text='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
digits_list= re.findall(r'\d+', Sample_Text)
print(digits_list)
print('the maximum digit in this string is', max(digits_list))

['947', '896', '926', '524', '734', '950', '642']
the maximum digit in this string is 950

In [55]:
#question23
Sample_Text= 'RegularExpressionIsAnImportantTopicInPython'
word_list= re.findall('[A-Z][a-z]+',Sample_Text)
print(word_list)
new_string= ' '.join(word_list)
print(new_string)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']
Regular Expression Is An Important Topic In Python

In [57]:
#question24
Sample_Text= 'RegularExpressionIsAnImportantTopicInPython'
word_starting_with_capital_letters_followed_by_lower_case_letters_are= re.findall('[A-Z][a-z]+',Sample_Text)
print(word_starting_with_capital_letters_followed_by_lower_case_letters_are)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

In [73]:
#question25
Sample_Text="Hello hello world world"
word_list= re.findall(r'\w+',Sample_Text)
word_list= set(word_list)
word_list=list(word_list)
word_list=' '.join(word_list)
print(word_list)

Hello hello world

In [76]:
#question26
string='india won the 2011 odi world cup'
string_list=re.findall('[A-Za-z0-9]$',string)
if len(string_list)!=0:
    print('the string ends with alphanumeric number')
else:
    print('it does not ends with alphanumeruc number')

the string ends with alphanumeric number

In [91]:
#question27
Sample_Text= """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
hashtags=re.findall(r'#\w+',Sample_Text)
print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [115]:
#question28
Sample_Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
new_sample_text_with_removed_symbols=     re.sub(r'<U\+\w+>','', Sample_Text)
print(new_sample_text_with_removed_symbols)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [118]:
#question29
with open(r"C:\Users\vipul\OneDrive\Documents\Sample_Text.txt") as file:
    for line in file:
        string=line
print(string)
dates= re.findall(r'\d{2}-\d{2}-\d{4}',string)
print(dates)

Sample_Text= 'Ron was born on 12-09-1992 and he was admitted to school 15-12-1999'
['12-09-1992', '15-12-1999']

In [125]:
#question30
Sample_Text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern= re.compile(r'\b\w{2,4}\b')
new_sample_text=pattern.sub('',Sample_Text)
print(new_sample_text)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.